body, html 
{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #22333b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    vertical-align: middle;
    margin-left: 20px;
}

.device:hover
 {
    color: darkgray;
 }

.plotTimeSeries
{
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-columns: 4fr;
    grid-template-rows: 120px 1fr 80px;
  }
  .container > div {
    border: 0px solid #FFFFFF;
  }
  
  .header {
    grid-area: header;
    background-color: #18272e;
    align-items: center;
    display: flex;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
    background-color: #18272e;
  }